.addedToSelection {
  background: #B2478F !important;
}
::selection {
  background: #FF00FF !important;
}

.page{
margin:0 !important;
padding:30px 120px 20px;
width:100%;
max-width:100%;
box-sizing:border-box;
border-radius:6px !important;
color: #FCFCFC;
box-shadow: 1px 1px 10px 0px #888 !important;
}

#pageContainer{margin-top:0}
.edge, .corner {background-color:transparent !important}

#backgroundImage{
	color: #4D4D4D;
  	background-color: #4D4D4D;
}

body, page-container {
/*font-family: 'Consolas' !important;*/
font-family:"DejaVu Sans Mono", monospace;
font-size:13pt; 
font-weight: normal !important;
overflow-y: scroll;
overflow-x: hidden !important;
}

BODY
{
	color: #AAAAAA !important;
	background: #4D4D4D !important;
}

table{
  	color: #AAAAAA !important;
	background: #4D4D4D !important;
}
td.commandName{
  	color: #AAAAAA !important;
	background: #262626 !important;
}
.highlight
{
	height: 100%;
	left: -5px;
	padding: 2px 5px 1px;
	position: absolute;
	top: 2px;

	width: 100%;
}
#move{
 	color: #ffffff !important; 
  	/*background-color: #cccccc !important;*/
  	background: url(http://www.workflowy.com/media/i/move_icon_white.png) no-repeat !important;
}
.moving>.highlight, .highlighted>.highlight
{
	background: #0F0F0F !important;
}
.moving>.highlight, .highlighted.moveHovered>.highlight
{
	background: #0F0F0F !important;

}


.notes > .content{
    color: #666666 !important;
}

.content .contentMatch {
    color: black;
    background: #FFE066;
    /*
    border-width: 1px;
    border-color: #A35F5F;
    border-style:solid;
    //*/
  }

.page {
    background: #262626 !important;
	box-shadow: 12px 12px 15px -7px #111 !important;
}

a.bullet{
    /*color: #569CD6 !important; --blue */
  	color: #FFFFFF !important;
	
}
.bullet{
  	background: #555555;
  }

span.plus{

    color: #cfcfcf !important;
}

span.text{
    color: #cfcfcf !important;
}


div.top.edge{
    display: none;
}

div.bottom.edge{
    display: none;
}

div.left.edge{

    display: none;
}

div.right.edge{
    display: none;
}

DIV.top.right.corner
{
    display: none;
}

DIV.top.left.corner
{
    display: none;
}

DIV.bottom.right.corner

{
    display: none;
}

DIV.bottom.left.corner
{
    display: none;
}

.contentTag {

	font-weight: bold !important;
	padding: 2px 3px 2px !important;        
	color: #939393 !important; /* grey by default(#888888)*/
	font-size: 14px !important;

}

    /* Outer border, set to none */
    #workflowy > DIV.children {
        border-left:none !important;
    }
    
    /* border of each child... I've set to none, but you can add this back in */
    DIV.children {
        border-left:none !important;
    }

/*hide the tags when editing */

.content.editing .contentTag {

	visibility: hidden;
}

/* remove the damn keyboard shortcut list so i want to shoot myself in the face a bit less */
#keyboardShortcutHelper{
	display: none !important;
}

/* remove this too because annoying */
#getMoreSpaceButtonTopLeft{
 	display: none !important; 
}

/* remove the underline from tags */

.content .contentTagText {

	text-decoration: none !important;

}